*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.contanier{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: black;
}

.title{
  font-size: 85px;
  color: white;
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
} 

.formContanier{
  display: flex;
  align-items: center;
  gap: 20px;

}

.contanierInput{
  background-color: rgba(255, 255, 255, 0.2);
  padding: 15px;
  margin: 34px 0;
  color: #fff;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

.contanierInput input{
  background-color: transparent;
  border: 0;
  font-size: 20px;
  outline: none;
  margin-right: 8px;
}

.contanierInput input::placeholder{
  color: #f1f1f1;
}

.buttonSearch{
  background-color: white;
  color: black;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  border: 0;
  cursor: pointer;
  transition: transform 0.5s;
}

.buttonSearch:hover{
  transform: scale(1.2);
}

.main{
  display: grid;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  width: 500px;
}

.main h2{
  margin: 16px 0;
  font-size: 39px;
}

.main span{
  margin-bottom: 16px;
  font-weight: bold;
}

@media(max-width: 620px){
  .title{
    font-size: 60px;
  }
  .main h2{
    font-size: 28px;
  }
  .main{
    width: 80%;
    min-height: 250px;
  }
}